%h1 Search

.grid-x.grid-margin-x
  .cell.medium-6
    %h2 Search by EAN
    = form_tag "/by_ean", method: 'get' do
      .input-group
        = text_field_tag :ean, params[:ean], class: 'input-group-field'
        .input-group-button= submit_tag "Go", name: nil, class: 'button'
  .cell.medium-6
    %h2 Search by name
    = form_tag "/by_name", method: 'get' do
      .input-group
        = text_field_tag :name, params[:name], class: 'input-group-field'
        .input-group-button= submit_tag "Go", name: nil, class: 'button'

-# = form_for @product do |f|
-#   - if @product.errors.any?
-#     #error_explanation
-#       %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
-#       %ul
-#         - @product.errors.full_messages.each do |message|
-#           %li= message
-#
-#   .field
-#     = f.label :name
-#     = f.text_field :name
-#   .field
-#     = f.label :price
-#     = f.number_field :price
-#   .field
-#     = f.label :ean
-#     = f.number_field :ean
-#   .actions
-#     = f.submit 'Save'
