%main.grid-container
  %p#notice= notice

  - @attributes.each do |attr|
    %p
      %b= attr.capitalize
      = @ingredient.send(attr.to_sym)
  = link_to 'Edit', edit_ingredient_path(@ingredient)
  = link_to 'Back', ingredients_path

  = render 'products/table', products: @ingredient.products
  
