%h1 Anomalies
- @anomalies_list.each do |error, anomalies|
  %h2= error
  %table
    - attributes = [:id, :name, :ean]
    %thead.sticky
      - attributes.each do |attr|
        %th= attr.capitalize
      %th
    %tbody
      - anomalies.each do |anomaly|
        %tr
          - attributes.each do |attr|
            %td
              = anomaly.send(attr.to_sym)
          %td
            = link_to 'Show', anomaly
            = link_to 'Edit', edit_product_path(anomaly)
