%main.grid-container
  %p#notice= notice
  %h1= @product.name

  - @attributes.each do |attr|
    %p
      %b= attr.capitalize
      = @product.send(attr.to_sym)

  %p= @product.ingredients.map(&:name)

  = link_to 'Edit', edit_product_path(@product)
  = link_to 'Back', products_path
